In [1]:
#Câu 1
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.ma_nv = ma_nv
        self.luong_cb = luong_cb

    def tinh_luong(self):
        return self.luong_cb
class NhanVienTangCa(NhanVien):
    def __init__(self, ma_nv, luong_cb,):
        super().__init__(ma_nv, luong_cb)
        self.ma_nv = ma_nv
        luong_cb = luong_cb
        
    def tinh_luong(self):
        return self.luong_cb * 1.2
class NhanVienChuyenChuyen(NhanVien):
    def __init__(self, ma_nv, luong_cb):
        super().__init__(ma_nv, luong_cb)
        self.ma_nv = ma_nv
        luong_cb = luong_cb
    def tinh_luong(self):
        return self.luong_cb + 500000
if __name__ == "__main__":
    nv1 = NhanVien("NV001", 10000000)
    nv2 = NhanVienTangCa("NV002", 10000000)
    nv3 = NhanVienChuyenChuyen("NV003", 10000000)

    print(f"Lương nhân viên {nv1.ma_nv}: {nv1.tinh_luong()} VND")
    print(f"Lương nhân viên {nv2.ma_nv}: {nv2.tinh_luong()} VND")
    print(f"Lương nhân viên {nv3.ma_nv}: {nv3.tinh_luong()} VND")

Lương nhân viên NV001: 10000000 VND
Lương nhân viên NV002: 12000000.0 VND
Lương nhân viên NV003: 10500000 VND

In [2]:
import numpy as np

san_luong = [10, 20, np.nan, 40, 50, np.nan]

arr = np.array(san_luong, dtype=float)

nan = np.isnan(arr)
mean_nan = np.nanmean(arr)
arr[nan] = mean_nan

print(arr)
san_luong_lon = arr[arr >9]
gia_tri_nho_nhat = np.min(san_luong_lon)
print("Giá trị nhỏ nhất trong sản lượng lớn hơn 9 là:", gia_tri_nho_nhat)

[10. 20. 30. 40. 50. 30.]
Giá trị nhỏ nhất trong sản lượng lớn hơn 9 là: 10.0

In [3]:
import pandas as pd
class NhanSu:
    def __init__(self, filepath):
        self.filepath = filepath
    def loadfile(self):
        load_csv = pd.read_csv(self.filepath)
        return load_csv
filepath = "nhan_su.csv"
nhansu = NhanSu(filepath)
df = nhansu.loadfile()
print(df)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
3   NV004     NhanSu        70.0          2020
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
7   NV008    KyThuat        60.0          2019
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021
11  nv012     NhanSu        75.0          2020

In [4]:
mask = df['Ma_NV'].str.contains('Ns', case=False, na=False)
mask_nam = df['Nam_Cong_Tac']>=2021
ket_qua = df[mask & mask_nam]
print(ket_qua)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021

In [5]:
import numpy as np
arr = df['Thanh_Tich'].to_numpy()
mask_na = np.isnan(arr)
mean_nan = np.nanmean(arr)
arr[mask_na] = mean_nan 
df['Thanh_Tich'] = arr
print(df)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   81.666667          2022
2   NS003     NhanSu   90.000000          2023
3   NV004     NhanSu   70.000000          2020
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   81.666667          2024
6   NS007  KinhDoanh   95.000000          2023
7   NV008    KyThuat   60.000000          2019
8   NS009     NhanSu   81.666667          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021
11  nv012     NhanSu   75.000000          2020

In [6]:
tong_hop = df.groupby('Phong_Ban')['Thanh_Tich'].sum()
print(tong_hop)

Phong_Ban
KinhDoanh    341.666667
KyThuat      321.666667
NhanSu       316.666667
Name: Thanh_Tich, dtype: float64

In [7]:
pivot = df.pivot_table(index='Phong_Ban'
                       , columns='Nam_Cong_Tac',
                         values='Thanh_Tich', 
                         aggfunc='mean',
                         fill_value=0)
print(pivot)

Nam_Cong_Tac  2019  2020  2021       2022  2023       2024
Phong_Ban
KinhDoanh      0.0   0.0  82.5  81.666667  95.0   0.000000
KyThuat       60.0   0.0  88.0   0.000000   0.0  86.833333
NhanSu         0.0  72.5   0.0  81.666667  90.0   0.000000

In [9]:
import sqlite3
conn = sqlite3.connect('he_thong.db')
sql = pivot.to_sql('he_thong', 
             conn,
             if_exists='replace',
             index=False)
read_sql = pd.read_sql('SELECT * FROM he_thong', conn)
print(read_sql.head())
conn.close()

   2019  2020  2021       2022  2023       2024
0   0.0   0.0  82.5  81.666667  95.0   0.000000
1  60.0   0.0  88.0   0.000000   0.0  86.833333
2   0.0  72.5   0.0  81.666667  90.0   0.000000